body {
    background-color: #F2F0E4;
    color:#542E71;
    text-align: center;
}

.principal {
    text-align: center;
    justify-content: center;
    background-color:#C9D9E3;
    border: 2px solid rgba(var(--b6a,219,219,219),1);
    margin: 1 2 10px
    padding: 10px 0;
    display: flex;
    width: 500px;
    flex-direction: column;
    
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Righteous';
    font-size: 15px;
    margin: 0;
}

p {
    text-align: center;
    font-family: 'Marcellus', serif;
    font-size: 12px;
    margin: 0;
}

.inputs {
    text-align: center;
    text-align: left;
    font-family: 'Marcellus', serif;
    font-size: 17px;
    margin: 10px;
}

.nombre {
    text
}

.enviar {
    text-align: center;
    font-size: 17px;
}



input {
    background-color: #F2F0E4;
    border: .5px solid rgba(var(--b6a,219,219,219),1);
    font-family: 'Marcellus', serif;
    font-size: 15px;
    opacity: .8;

}