* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(https://cdn.wallpapersafari.com/21/52/u8MYB1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}


.FormRegister {
	width: 75%;
	background: #C9D9E3;
	padding: 2em;
	margin: auto;
	margin-top: 1em;
	border-radius: .4em;
	font-family: 'Marcellus', serif;
	box-shadow: .7em 1.2em 3.7em #000;
}

.encabezado {
	font-family:'Righteous', cursive;
	text-align: center;
	margin-bottom: .5em;
}

img {
	text-align: center;
	width: 40%;

	
}

.encabezado h1 {
	font-size: 300%;
	color:#542E71;
}

.encabezado h2 {
	font-size: 100%;
}

.encabezado p {
	font-family:'Marcellus', serif;
	font-size: 100%;
}

.controls {
	font-family: 'Marcellus', serif;
	width: 100%;
	background: #542E71;
	padding: 0.45em;
	border-radius: .4em;
	color: #fff;
	margin-bottom: .8em;
	border: .2em solid #fff;
	font-size: 1em;
}

.FormRegister .botons {
	width:100%;
	background: #CEDED2;
	padding: .45em;
	border-radius: .4em;
	font-family:'Righteous', cursive;
	color:#542E71;
	font-size: 2em;
	margin: 1.6em 0;
}

.color {
	padding: .1em;
}


.botons:hover {
	opacity: .7;
}

.genero {
	width: 50%;
}

.wuap {

	background:#CEDED2;
	color: #542E71;
	font-size: 1em;
	text-decoration: none;
	padding: .4em .5em;
	display: inline-block;
	margin: .3em .7em;
	border-radius: 4em;
	border: .3em solid #fff;
	text-align: center;
}
.wuap:hover {
	opacity: .7;
}
